*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section{
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero-section-headings{
  background: url('https://images4.alphacoders.com/123/123194.jpg') center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 80px 20px;
  font-family: "Bitcount Grid Double", system-ui;
  height: 500px;

}
.hero-section-headings .btn {
  background-color: #e75480;
  border: none;
  padding: 20px 50px;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  font-style: normal;
}

.hero-section-headings h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.hero-section-headings p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 30px;
}


.hero-section h1 {
  font-family: "Bitcount Grid Double", system-ui;
  font-size: 3rem;
  font-optical-sizing: auto;
}

.hero-section p {
  font-family: "Bitcount Grid Double", system-ui;
  font-size: 1.2rem;
  margin: 20px 0;
  font-optical-sizing: auto;
}


#carouselExampleDark {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  max-width: 1000px;
  margin: 40px auto;
}



#carouselExampleInterval img {
  object-fit: cover;
}


.picturecard {
  width: 300px;
  height: 300px;
  background: #6c757d;
  margin: auto;
  object-fit: cover;
  display: block;
}

.carousel-image {
  width: 600px;
  height: 600px;
  object-fit: cover;
  display: block;
}